streamlit>=1.31.0
pillow>=10.0.0
torch
torchvision
numpy
einops
fire
transformers[torch,sentencepiece]==4.29.2
safetensors
invisible-watermark
sentencepiece
accelerate
streamlit-scroll-to-top
-e /mount/src/recreategoods/pix2pix/flux